{{ define "main" }}
<head>
{{ partial "opengraph" . }}
</head>

<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $ISO_time := .Date.Format "2006-01-02T15:04:05-07:00" }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ .Date.Format "Jan 2, 2006" }} </time>
                </div>
            </header>
            <div class="page-content">
                {{ .Content }}
            </div>
        </article>
        <div>
        <script src="https://giscus.app/client.js"
        data-repo="tellmeY18/tellmeY18.github.io"
        data-repo-id="R_kgDOJoc_Mg"
        data-category-id="DIC_kwDOJoc_Ms4CWy11"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>

          </script>
        </div>
    </main>
</div>
{{ end }}
