<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        <div class="wrapper">
            {{ partial "bio" . }}
            <main aria-label="Content">
                <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
                {{/* Show last 5 posts in reverse date order */}}
                {{ $posts := .Site.RegularPages.ByDate.Reverse }}
                {{ range first 5 $posts }}
                {{ end }}
                {{ if gt (len $posts) 5 }}
                <p>
                    <a href="/posts/">See all posts</a>
                </p>
                {{ end }}
            </main>
        </div>
    </body>
</html>
